<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="https://i.ibb.co/2N6ZHzS/logo.png" height="40" width="200"></img></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto topBotomBordersOut">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if(loggedin === true && adminLogin === false) {%>
      <li class="nav-item active">
        <a class="nav-link" href="/customer/profile/<%=memID%>">Profile <span class="sr-only"></span></a>
      </li>
      <% } %>
      <% if(adminLogin === true) {%>
        <li class="nav-item active">
          <a class="nav-link" href="/admin">Admin Page <span class="sr-only"></span></a>
        </li>
        <% } %>
      
    </ul>

    <ul class="navbar-nav topBotomBordersOut">
      <li class='nav-item'>
        <a class="nav-link my-2" href="/department/1">Shirts</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link my-2" href="/department/2">Outerwear</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link my-2" href="/department/3">Pants</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link my-2" href="/department/4">Shoes</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link my-2" href="/department/5">Accesories</a>
      </li>

      <a class="nav-link" href="/cart"><button class="btn btn-dark mr-2 my-2 my-sm-0" type="submit">Cart</button></a>
      
      <% if(loggedin){%>
        <a class="nav-link" href="/customer/logout"><button class="btn btn-danger mr-2 my-2 my-sm-0" ,
          type="submit">Logout</button></a>
      <% } else{ %>
      <a class="nav-link" href="/customer/signin"><button class="btn btn-outline-dark mr-2 my-2 my-sm-0" ,
          type="submit">Login</button></a>
      <a class="nav-link" href="/customer/signup"><button class="btn btn-secondary mr-2 my-2 my-sm-0"
          type="submit">Register</button></a>
      <% } %>
    </ul>

  </div>
</nav>