<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Store Database</title>
</head>

<!-- <body>
    Before
    <br />
    <%- body %>
    <br />
    After
  </body> -->

<body>
  <form action="/user_create" method="POST">
    <input placeholder="First name" name="createFirstName" />
    <input placeholder="Last name" name="createLastName" />
    <button>Submit</button>
  </form>
</body>

</html>