<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin.css">
    <title>Add Product</title>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h1 class="my-2"> Add a product to the inventory</h1>
        <div class="main">
            <div class="main-center">
                <form action="/admin/addPost" method="POST">

                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" id="name"
                                placeholder="Enter the product name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="prodDesc">Product Description</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="prodDesc"
                                placeholder="Enter product description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="price" placeholder="Enter product's price" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vendor">Product's vendor</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="vendor"
                                placeholder="Enter product's vendor" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <div class="input-group">
                            <input type="Number" class="form-control" name="quantity"
                                placeholder="Enter product's quantity" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="department">Product's department and Image Link</label>
                        <div class="input-group">
                            <select id="department" name="department" class="form-control">
                                <option value=''>select a department</option>
                                <option value='1'>Shirts</option>
                                <option value='2'>Outerwear</option>
                                <option value='3'>Pants</option>
                                <option value='4'>Shoes</option>
                                <option value='5'>Accessories</option>
                        </div>
                    
                    </div>
                    
                    <div class="form-group">
                        <label for="img">Product's image link</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="img"
                                placeholder="Enter product's image link" />
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-outline-dark">SUBMIT</button>

                </form>
            </div>
            <% if(data = "Failed to insert!") {%>
                <h5><span class="badge badge-danger my-2"><%= data %></span></h5>
            <% } else{ %>
                <h5><span class="badge badge-info my-2"><%= data %></span></h5>
            <% } %>
            <!--main-center"-->
        </div>
        <!--main-->
    </div>
    <!--container-->
</body>

</html>