<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .pass_show {
            position: relative
        }

        .pass_show .ptxt {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #4ec220;
            margin-top: -10px;
            cursor: pointer;
            transition: .3s ease all;
        }

        .pass_show .ptxt:hover {
            color: #333333;
        }
    </style>
    <title>Store Database</title>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-sm-4 ">
                <form action="/customer/submitPassword/<%= data %>" method="POST">
                    <h3 class="my-3">Password Change</h3>
                    <label>Current Password</label>
                    <div class="form-group pass_show">
                        <input type="password" value="" name="oldPass" class="form-control"
                            placeholder="Current Password">
                    </div>
                    <label>New Password</label>
                    <div class="form-group pass_show">
                        <input type="password" value="" name="newPass1" class="form-control" placeholder="New Password">
                    </div>
                    <label>Confirm Password</label>
                    <div class="form-group pass_show">
                        <input type="password" value="" name="newPass2" class="form-control"
                            placeholder="Confirm Password">
                    </div>
                    <button class="btn btn-outline-dark my-2" type="submit">Submit Password</button>

                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.pass_show').append('<span class="ptxt">Show</span>');
        });

        $(document).on('click', '.pass_show .ptxt', function () {

            $(this).text($(this).text() == "Show" ? "Hide" : "Show");

            $(this).prev().attr('type', function (index, attr) {
                return attr == 'password' ? 'text' : 'password';
            });

        });
    </script>
</body>

</html>