<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Store Database</title>
</head>

<body>
    <%- include ('../partials/header.ejs') %>
    <div class="container">
        <% if(data === 1) { %>
        <h3 class="my-4 text-danger">Task failed! New password confirmation failed or wrong old password</h3>
        <% } %>
        <% if(data === 2) { %>
        <h3 class="my-4 text-success">Password Updated!</h3>
        <% } %>

        <tfoot>
            <tr>
                <td><a href="/customer/profile" class="btn btn-warning"><i class="fa fa-angle-left"></i> Go back to profile</a>
                </td>
            </tr>
        </tfoot>
    </div>

</body>

</html>