<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin.css">
    <link href="https://www.eyecon.ro/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
    <title>Add Product</title>
</head>

<body>
    <%- include('../partials/header') %>

    <div class="container">
        <h2 class="my-4">Sales Report</h2>
        <form action="saleReport" method="POST">
            <div class="well">
                <div class="input-append date">
                    <label for="startDate">Start Date</label>
                    <input type="text" class="span2" name="startDate" value="" id="dpd1">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
            <div class="well">
                <div class="input-append date">
                    <label for="endDate">End Date</label>
                    <input type="text" class="span2" name="endDate" value="" id="dpd2">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
            <button type="submit" class="btn btn-dark mb-2">Submit</button>
        </form>

        <h2 class="my-4">Department Report</h2>
        <form action="deptReport" method="POST">
            <select class="form-control" id="deptSelector" name="deptSelector">
                <option value=''>select a department</option>
                <option value=1>Shirts</option>
                <option value=2>Outerwear</option>
                <option value=3>Pants</option>
                <option value=4>Shoes</option>
                <option value=5>Accessories</option>
            </select>
            <button type="submit" class="btn btn-dark my-4">Submit</button>
        </form>

    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.eyecon.ro/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        $(function () {
            window.prettyPrint && prettyPrint();
            $('#dp1').datepicker({
                format: 'dd-mm-yyyy'
            });
            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
            var checkin = $('#dpd1').datepicker({
                onRender: function (date) {
                    return date.valueOf() < now.valueOf();
                }
            }).on('changeDate', function (ev) {
                if (ev.date.valueOf() > checkout.date.valueOf()) {
                    var newDate = new Date(ev.date)
                    newDate.setDate(newDate.getDate() + 1);
                    checkout.setValue(newDate);
                }
            })
        });
    </script>
    <script>
        $(function () {
            window.prettyPrint && prettyPrint();
            $('#dp1').datepicker({
                format: 'dd-mm-yyyy'
            });
            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
            var checkin = $('#dpd2').datepicker({
                onRender: function (date) {
                    return date.valueOf() < now.valueOf();
                }
            }).on('changeDate', function (ev) {
                if (ev.date.valueOf() > checkout.date.valueOf()) {
                    var newDate = new Date(ev.date)
                    newDate.setDate(newDate.getDate() + 1);
                    checkout.setValue(newDate);
                }
            })
        });
    </script>

</body>

</html>