<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin.css">
    <title>Add Product</title>
</head>

<body>
    <%- include('../partials/header') %>
    
    <div class="container">
        <p><h5>Select a department</h5></p>
        <form action="/admin/updatePostDept" method="POST">
            <select class="form-control" id="department" name="department">
                <option value=''>select a department</option>
                <option value='1'>Shirts</option>
                <option value='2'>Outerwear</option>
                <option value='3'>Pants</option>
                <option value='4'>Shoes</option>
                <option value='5'>Accessories</option>
            </select>
            <button type="submit" class="btn btn-outline-dark my-2">Submit</button>
        </form>
        <p><h5>Select A product</h5></p>
        <form action="/admin/updatePostProd" method="POST">
            <select class="form-control" id="product" name="product">
                <option value=''>select a product</option>
                <% for(var i=0; i<data.length;i++){ %>
                    <option value="<%=data[i].product_ID%>"><%= data[i].product_name %></option>
                <% } %>
            </select>
            <button type="submit" class="btn btn-outline-dark my-2">Submit</button>
        </form>

    </div>
</body>

</html>