<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin.css">
    <link href="https://www.eyecon.ro/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
    <title>Add Product</title>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="container my-2">
        <div class="row col-md-12 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Parent ID</th>
                        <th>Parent ID</th>
                        <th>Parent ID</th>

                    </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>News</td>
                    <td>News Cate</td>
                    <td>News Cate</td>
                    <td>News Cate</td>

                </tr>

            </table>
        </div>
        <h4 class="my-2">Most purchased product: </h4>
        <h4 class="my-4 mb-2">Total Product Purchased: </h4>

        <tfoot>
            <tr>
                <td><a href="report" class="btn btn-warning"><i class="fa fa-angle-left"></i> Go back to report</a></td>
            </tr>
        </tfoot>
    </div>
</body>

</html>