<div class="card-deck mx-auto my-3">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shirts</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/department/1" <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Go to shirt</button> </a>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Outerwear</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="/department/2" <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Go to outerwear</button> </a>
      </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Buttoms</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a href="/department/3" <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Go to buttoms</button> </a>
      </div>
    </div>
  </div>

  <div class="card-deck mx-auto my-3">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shoes</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/department/4" <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Go to shoes</button> </a>>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Accessories</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="/department/5" <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Go to accesories</button> </a>
      </div>
    </div>
    <div class="card border-0">

    </div>
  </div>