<div class="card-deck mx-auto my-3">

    <div class="card">
      <img class="card-img-top" src="https://burst.shopifycdn.com/photos/simple-beige-mens-shirt.jpg?width=373&format=pjpg&exif=0&iptc=0" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shirts</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/department/1"> <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Browse Shirts</button> </a>

      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://burst.shopifycdn.com/photos/mens-outerwear-in-navy.jpg?width=373&format=pjpg&exif=0&iptc=0" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Outerwear</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="/department/2"> <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Browse Outerwear</button> </a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://burst.shopifycdn.com/photos/mens-denim-fashion.jpg?width=373&format=pjpg&exif=0&iptc=0" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pants</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a href="/department/3"> <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Browse Pants</button> </a>
      </div>
    </div>
  </div>

  <div class="card-deck mx-auto my-3">
    <div class="card">
      <img class="card-img-top" src="https://burst.shopifycdn.com/photos/trying-on-shoes.jpg?width=373&format=pjpg&exif=0&iptc=0" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shoes</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/department/4"> <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Browse Shoes</button> </a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://burst.shopifycdn.com/photos/womans-necklace.jpg?width=373&format=pjpg&exif=0&iptc=0" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Accessories</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="/department/5"> <button class="btn btn-info mr-2 my-2 my-sm-0" type="submit">Browse Accessories</button> </a>
      </div>
    </div>
    <div class="card border-0">
    </div>
    
  </div>